#
# Machine / Workspace config
#
[include]
    path = ~/.local/git.config

#
# General config
#
[init]
    defaultBranch = main
[core]
    editor = nvim

#
# Workflow config
#
[merge]
    # git mergetool
    tool    = vimdiff
[rebase]
    # auto relocate squash to respective commit to squash to
    autoSquash  = true
[alias]
    # Simple commit history
    l   = log --oneline --decorate -30
    ll  = log --oneline --decorate
    lt  = log --all --graph --decorate --oneline

    # Check for whitespace e.g. git diff --check HEAD~1
    ws  = diff --check

    # commit signed
    cs  = commit -s

    # check whitespace and commit
    cw  = "!if git diff --check; then git add . && git commit; fi"

    # Interactive rebase
    ri  = rebase -i
    rim = rebase -i master
