# Ensure udiskie is running so flash drives automount
# taken from https://www.reddit.com/r/swaywm/comments/woohni/how_can_i_start_udiskie_as_a_background_proccess/

[Unit]
Description=udiskie daemon

[Service]
Type=simple
ExecStart=/usr/bin/udiskie
Restart=always

[Install]
WantedBy=default.target
